section{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cards{
    height: 400px;
    width: 350px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 3px 5px black;
    border-radius: 10px;
    background-color: white;
}
div img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.icon{
    display: flex;
    justify-content: space-around;
}
